@using System.Timers;
@page "/"

<PageTitle>Clock</PageTitle>

<style>
    .Var {
        background-image: linear-gradient(90deg, rgb(5, 39, 103) 0%, #3a0647 70%);
        color: white;
        font-size: 35px;
        font-family: 'Courier New';
    }
</style>

<h1>🕰️Clock</h1>

<p>This app is under development.</p>

<p class="Var">@clock_time</p>

@code {
    DateTime clock_time;
    private Timer timer;

    protected override void OnInitialized()
    {
        timer = new Timer(0.1);
        timer.Elapsed += (sender, e) =>
        {
            clock_time = DateTime.Now;
            StateHasChanged();
        };
        timer.Start();
    }

    void Dispose()
    {
        timer.Stop();
        timer.Dispose();
    }

}